<!doctype html>

<html>
    <head>
        <title>UTD BEE STATION</title>
    </head>
   <body>
  
        <h1>
           <img src="https://utdepics.edusourcedapp.com/whitelabels/logos/utdepics.png" alt="UTD logo" style="float:left;width:100;height:75px;">
           UTDallas Beehive Monitoring
	</h1>
        <br>
        <hr>
        <a href="https://sustainability.utdallas.edu/">UTD Sustainability</a>
        <a href="https://epics.utdallas.edu/">UTDesign EPICS</a>
        <a href="https://sites.utdallas.edu/epics-sustainability/">EPICS Team</a>
        <br>
        <br>

<!-- Code for API comes from https://learn.weatherstem.com/modules/learn/lessons/115/04.html-->
    <!-- Meta data for API key and station identifier -->
<meta name="WeatherSTEM-api-key" content="7cwa5e4h"> 
<meta name="WeatherSTEM-station" content="dallas/utdallas">

<!-- JavaScript -->
<script src="//code.jquery.com/jquery-1.12.0.min.js"></script> <!-- jQuery needs to load before the API file -->
<script src="//static.weatherstem.com/api.min.js"></script> <!-- API file (must load after jQuery) -->

<!-- HTML snippet (data-sensor attribute can be the name of any installed sensor) -->
<div style="text-align:right;">
  <div> <b>Live Weather Conditions</b>
  <div> Temperature: <span data-sensor="Thermometer"></span> °F </div>
  <div> Humidity: <span data-sensor="Hygrometer"></span>% </div>
  <div> Rainfall: <span data-sensor="Rain Rate"></span> in/hr </div>
  <div><a href="https://dallas.weatherstem.com/utdallas">UTDallas WeatherSTEM</a>: </div>
</div>

     <h2 style="text-align:center;">Temperature</h2>
        <p style="text-align:center;">{{ celcius }}°C/{{ fahrenheit }}°F</p>

	 <h2 style="text-align:center;">Humidity</h2>
        <p style="text-align:center;">{{ humidity }}</p>

	 <h2 style="text-align:center;">Pressure</h2>
        <p style="text-align:center;">{{ pressure }}</p>

    </body>
</html>
