<!DOCTYPE html>
<html lang="en">
<head>
    <title>UTD Beehive Monitor</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" rel="stylesheet">
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.header {
  padding: 50px;
  text-align: center;
  background: #154734;
  color: white;
}

.header h1 {
  font-size: 40px;
}

/* Style the top navigation bar */
.navbar {
  overflow: hidden;
  background-color: #446c5d;
}

/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}


/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}
</style>
</head>
<body>

<div class="header">
  <h1>UTDallas Beehive Monitoring</h1>
</div>

<div class="navbar">
  <a href="https://sustainability.utdallas.edu/">UTD Sustainability</a> 
    <a href="https://epics.utdallas.edu/">UTDesign(R) EPICS</a>
    <a href="https://sites.utdallas.edu/epics-sustainability/">EPICS Team</a>
</div>
        <br>
	
	<!-- Code for API comes from https://learn.weatherstem.com/modules/learn/lessons/115/04.html-->
	<!-- Meta data for API key and station identifier -->
	<meta name="WeatherSTEM-api-key" content="7cwa5e4h"> 
	<meta name="WeatherSTEM-station" content="dallas/utdallas">

	<!-- JavaScript -->
	<script src="//code.jquery.com/jquery-1.12.0.min.js"></script> <!-- jQuery needs to load before the API file -->
	<script src="//static.weatherstem.com/api.min.js"></script> <!-- API file (must load after jQuery) -->

	<!-- HTML snippet (data-sensor attribute can be the name of any installed sensor) -->
	<div style="text-align:left;">
  	<div> <b>Live Weather Conditions</b> </div>
  	<div> Current Temperature: <span data-sensor="Thermometer"></span> °F </div>
  	<div> Current Humidity: <span data-sensor="Hygrometer"></span>% </div>
  	<div> Current Rainfall: <span data-sensor="Rain Rate"></span> in/hr </div>
  	<div><a href="https://dallas.weatherstem.com/utdallas">UTDallas WeatherSTEM</a> </div>
	</div>

        <h2 style="text-align:center;">Temperature</h2>
        <p style="text-align:center;">{{ celcius }}°C/{{ fahrenheit }}°F</p>

	<h2 style="text-align:center;">Humidity</h2>
        <p style="text-align:center;">{{ humidity }}</p>

	<h2 style="text-align:center;">Pressure</h2>
        <p style="text-align:center;">{{ pressure }}</p>
        
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <canvas id="canvas"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<!--suppress JSUnresolvedLibraryURL -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<!--suppress JSUnresolvedLibraryURL -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!--suppress JSUnresolvedLibraryURL -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script>
    $(document).ready(function () {
        const config = {
            type: 'line',
            data: {
                labels: [],
                datasets: [{
                    label: "Fahrenheit",
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: [],
                    fill: false,
                }],
            },
            options: {
                responsive: true,
                title: {
                    display: true,
                    text: 'UTD Beehive 0'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Time'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Data'
                        }
                    }]
                }
            }
        };

        const context = document.getElementById('canvas').getContext('2d');

        const lineChart = new Chart(context, config);

        const source = new EventSource("/chart-data");

        source.onmessage = function (event) {
            const data = JSON.parse(event.data);
            if (config.data.labels.length === 20) {
                config.data.labels.shift();
                config.data.datasets[0].data.shift();
            }
            config.data.labels.push(data.time);
            config.data.datasets[0].data.push(data.value);
            lineChart.update();
        }
    });
</script>
	

    <script type="text/javascript">
        var myDate = new Date();
        // get hour value.
        var hours = myDate.getHours();
        var ampm = hours >= 12 ? 'PM' : 'AM';
        hours = hours % 12;
        hours = hours ? hours : 12;
        var minutes = myDate.getMinutes();
        minutes = minutes < 10 ? '0' + minutes : minutes;
        var myTime = hours + ":" + minutes + " " + ampm;
    </script>
    <br>
    <p style="text-align:center;"> <b>Last Updated: </b>  
    <script type="text/javascript">
        document.write(myTime);
    </script>
    <br>
    Refresh for new data
    <p>
<img src="https://utdepics.edusourcedapp.com/whitelabels/logos/utdepics.png" alt="UTD logo EPICS logo" style="width:100;height:75px;">
</body>
</html>
